<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Hub | Manage Record of Your Stocks</title>
    <!-- Font Awesome Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <!-- CSS only -->
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar flex">
      <a class="navbar-brand" href="/">Record Hub</a>
      <div class="mobile">
        <button><i class="fas fa-bars"></i></button>
      </div>
      <div class="laptop navbar-data flex">
        <div class="flex navbar-data-block">
          <ul class="navbar-nav inline-block">
            <li class="nav-item inline-block">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item inline-block">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item inline-block">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item inline-block">
              <a class="nav-link" href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="flex navbar-data-block">
          <ul class="navbar-nav inline-block">
            <li class="nav-item inline-block">
              <a class="nav-link " href="/signin"><i class="fas fa-sign-in-alt"></i> Sign In</a>
            </li>
            <li class="nav-item inline-block">
              <a class="nav-link glyphicon glyphicon-user" href="/register"><i class="fas fa-user-plus"></i> Register</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav> 