<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Hub | Manage Record of Your Stocks</title>
    <!-- Font Awesome Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <!-- CSS only -->
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
    <nav class=" p-3 navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Record Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" width-full collapse navbar-collapse" id="navbarNav">
        <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy Policy</a>
        </li>
        </div>
        <div class="item-right">
            <ul class="navbar-nav">
            <li class="nav-item ">
            <a class="nav-link " href="/signin">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link glyphicon glyphicon-user" href="/register">Register</a>
        </li>
        </ul>
        </div>
            
      </ul>  
    </div>
  </div>
</nav> 